:root {
    --white: #fff;
    --link-white: rgba(255, 255, 255, .5);
    --link-blue: #7dcaf3;
    --white-subtle: #cecece;
    --white-subtle-alt : #eaeaea;
}

a {
    color: var(--link-white);
    text-decoration: none;
    background-color: transparent;
}

.cover-container {
    max-width: 70em;
}
